@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('../AGRO_FRONTEND/src/assets/fonts/Inter.ttc')format('truetype');
}

:root {
    @apply box-border;
    font-family: 'Inter';
}

*,
*::before,
*::after {
    @apply box-border;
    @apply p-0 m-0;
}

*::-webkit-scrollbar {
    @apply w-2;
}

*::-webkit-scrollbar-track {
    @apply bg-gray-200;
}

*::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
}

#root {
    @apply h-screen;
    @apply overflow-hidden;
}